/*
This CSS file is needed for WordPress to recognize the theme and display its info.
Please use the ../src/assets/styles/main.scss as an entry point for your SASS code.
*/
/*
Theme Name: wp-nerivaccari
Theme URI: http://www.rocketdevelopment.com.br
Author: Cleiton Dantas dos Anjos
Author URI: http://www.rocketdevelopment.com.br
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: tags
Text Domain: 
*/
html {
  font-size: 18px;
  font-family: Arial, sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
.content1{
  background-color: #1a2946;
  width: 60%;
  height: 100px;
  float: left;
  position: relative;
}
.img-logo{
  width:100%;
  height:100%;
  max-width:275px;
  max-height:80px 
}
.navbar {
  background-color: #1a2946;
  border-color: #1a2946;
}
.navbar .navbar-brand {
  color: #d2a86f;
}
.navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
  color: #1a2946;
}
.navbar .navbar-collapse, .navbar .navbar-form {
  border-color: #1a2946;
}
.navbar .navbar-toggle {
  border-color: #1b2b4b;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #d2a86f;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
  background-color: #1a2946;
}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
  color: #a7793a;
  background-color: #1a2946;
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
}
.navbar .navbar-nav>li>a {
  color: #d2a86f;
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
}
.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
  color: #a7793a;
}
.navbar-nav .nav-item:not(:last-child) {
  border-right: 1px solid silver;
}
.custom-toggler.navbar-toggler {
  border-color: rgb(248, 248, 248);
}
.menu-horizontal{
  background-size: 100%;
}
.menu-horizontal>div{
  margin-left: auto;
  margin-right: auto;
}
.menu-horizontal>div>p{
  padding-top: 13pt;
  line-height:18pt;
  font-family: 'Times New Roman', Times, serif;

  font-size: 1.4rem;
  text-align: center;
  color: #051435 
}
.menu-horizontal>div>p>a{
  color: #051435 !important;
}


.banner-principal{
  position:absolute;
  top:110px;
  left:6px;
  background-color: rgba(241, 174, 48, 0.637);
  padding: 30px;
  width: 470px;
}
.banner-principal>p{
  color: #051435;
  font-size: 28pt;
  letter-spacing: 5px;
  line-height:28pt;
  font-family: 'Lora', serif;
  font-weight: bold;
}
.img-referencia{
  width:80%;
  height:80%;
  max-width:380px;
  max-height:460px 
}

.text-blocs{
  width: 100%;
  text-align: justify !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: x-large;
}

.text-title{
  font-family: 'Lora', serif;
  font-size: xx-large;
}
.text-subtitle{
  font-family: 'Lora', serif;
  font-size: 20pt;
  text-align: justify;
  color:#dbac55;
}

.card-height{
  min-height: 1400px;
}

.card-category-height{
  min-height: 110%;
}

.card-text-medium{
  font-size: medium;
  text-align: justify;
}

.back-navbar-top{
  width: 100%; 
  height: 110px;
  background-color: #1a2946;
  position: absolute;
}


.form-control{
  width: 100% !important;
}
.form-label{
  width: 100% !important;
}

.inline-menu{
  font-size: 1.4rem !important;
}


.latest_posts .media{
  background-color: #eeeeee !important;
  
  
}
.entry-title>a{
  color: #dbac55 !important;
}



/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 1400px) {
  html { font-size: 14px; }

  .navbar-nav .nav-item:not(:last-child) {
      border-right: none;
 }
  .img-logo{
      width:80%;
      height:80%;
      max-width:275px;
      max-height:80px 
 }
  .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 248, 248, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }
  .banner-principal{
      position:absolute;
      top:25%;
      left:2%;
      background-color: rgba(241, 174, 48, 0.637);
      padding: 20px;
      width: 35%;
 }
  .banner-principal>p{
      color: #051435;
      font-size: 18pt;
      letter-spacing: 2px;
      line-height:20pt;
      font-family: 'Lora', serif;
      font-weight: bold;
 }
  .img-referencia{
      width:80%;
      height:80%;
      max-width:380px;
      max-height:460px 
 }

 .menu-horizontal>div>p{
  font-size: 2.0rem;
 }
 #idmartelinho { visibility:hidden; }

 .text-blocs{
  width: 100%;
  text-align: justify !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: x-large;
}

.card-text-medium{
  font-size: medium;
  text-align: justify;
}

.card-height{
  min-height: 1200px;
}
.card-category-height{
  min-height: 110%;
}

.back-navbar-top{
  width: 100%; 
  height:110px;
  background-color: #1a2946;
  position: absolute;
}


.form-control{
  width: 100% !important;
}

.inline-menu{
  font-size: 1.5rem !important;
}


    .navbar {
        background-color: #1a2946;
        border-color: #1a2946;
    }
    .navbar .navbar-brand {
        color: #d2a86f;
    }
    .navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
        color: #1a2946;
    }
    .navbar .navbar-collapse, .navbar .navbar-form {
        border-color: #1a2946;
    }
    .navbar .navbar-toggle {
        border-color: #1b2b4b;
    }
    .navbar .navbar-toggle .icon-bar {
        background-color: #d2a86f;
    }
    .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
        background-color: #1a2946;
    }
    .navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
        color: #a7793a;
        background-color: #1a2946;
        font-family: "Times New Roman", Times, serif;
        font-size: 14pt;
    }
    .navbar .navbar-nav>li>a {
        color: #d2a86f;
        font-family: "Times New Roman", Times, serif;
        font-size: 14pt;
    }
    .navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
        color: #a7793a;
    }
    .navbar-nav .nav-item:not(:last-child) {
        border-right: 1px solid silver;
    }

}




/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  html { font-size: 12px; }
  .navbar-nav .nav-item:not(:last-child) {
      border-right: none;
 }
  .img-logo{
      width:50%;
      height:50%;
      max-width:275px;
      max-height:80px 
 }
  .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 248, 248, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }
 .banner-principal{
    position:absolute;
    top:25%;
    left:2%;
    background-color: rgba(241, 174, 48, 0.637);
    padding: 10px;
    width: 60%;
}
.banner-principal>p{
    color: #051435;
    font-size: 12pt;
    letter-spacing: 2px;
    line-height:12pt;
    font-family: 'Lora', serif;
    font-weight: bold;
}
  .img-referencia{
      width:80%;
      height:80%;
      max-width:380px;
      max-height:460px 
 }
 
 .menu-horizontal>div>p{
  font-size: 2.0rem;
 }

 #idmartelinho { visibility:hidden; }

 .text-blocs{
  width: 100%;
  text-align: justify !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
}

.card-text-medium{
  font-size: medium;
  text-align: justify;
}

.card-height{
  min-height: 800px;
}

.card-category-height{
  min-height: 80%;
}

.back-navbar-top{
  width: 100%; 
  height:110px;
  background-color: #1a2946;
  position: absolute;
}


.form-control{
  width: 100% !important;
}

.inline-menu{
  font-size: 1.8rem !important;
}

.mobileoff{
  display: none;
}
}

